<strong>Ola {{student}}</strong>
<p>Sua pergunta ja foi respondida</p>
<p><strong>Pergunta:</strong> {{question}}</p>
<p><strong>Resposta:</strong> {{answer}}</p>
<small>Em caso de duvidas entre em contato conosco novamente</small>